@media only screen and (min-width: 1200px) {

    #me {
        width: 23rem;
        margin-right: 6rem;
    }

    #start {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .text {
        width: 60%;
    }
}

@media only screen and (min-width: 1900px) {

    #me {
        width: 30rem;
    }

    .linebreak {
        height: 4px;
    }

    .divider {
        width: 4px;
    }

    p {
        font-size: 1.6rem;
        margin: 1.8rem 0;
    }

    #nameTitel>h1 {
        font-size: 5rem;
    }

    #nameTitel>h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 2.3rem;
    }
}